body {
  background: #0f1238;
  /* background-image: url("./Resources/trellis_pattern.jpg"); */
  /* background-repeat: repeat; */
}

@media all  {

  .cont {
    background: rgb(231, 33, 33);
  }
  
  .m-title {
    color: black;
    font-weight: 600;
  }
  h3 {
    color: white;
  }

  .app-list-body {
    padding: 20px;
  }
  
  ul {
    list-style-type: none;
  } 

  li {
    display: inline-block;
    
  }

  .msx {
    max-width: 600px;
    min-width: 480px;
    margin: 5px;
  }


  
  .card-face {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-blend-mode: screen;
    border-radius: 7px;
  }

  .c-title {
    color: #25415F;
    font-weight: 600;
    font-size: 1rem;
  }

  .c-subtitle {
    font-size: 0.85rem;
  }
  
  .card-face :hover {
    transition: 0.2s;
    background-color: #859bb2;
    color: lightgray;
    font-weight: 500;
    cursor: grab;
    border-radius: 5px;
  }
  
}
