# These variables are only available in your SST code.
# To apply them to your Lambda functions, checkout this doc - https://docs.serverless-stack.com/environment-variables#environment-variables-in-lambda-functions

# This settings come from the github app you create in your account 
GitHubApp=
Client_ID=
AppID=
Client_secret=

# This is used to force stack updates - increment if you hit a deployment error to force a fuller deployment
Version=1
