.badge-version {
  font-size: 15px;
  border-radius: 30px;
  margin: 5px;
  padding: 10px;
  background: rgb(2,138,255);
  background: radial-gradient(circle, rgba(2,138,255,1) 65%, rgba(0,80,150,1) 91%);
}

.rollback {
  padding: 6px;
  border-radius: 30px;
  font-size: 14px;
}

.activity-row {  
  color: rgb(0, 225, 255);
}

.logs {
  background-color:#002050;
  color: white;
  min-height: 120px;
  margin: auto;
  border-radius: 7px;
  font-size: 15px;
  border-color: aliceblue;
  font-family: monospace;
  font-size: 12px;
}

.presenter {
  font-size: 16px;
}