button {
  padding: 60px 0;
  margin: 0 auto;
}

.m-title {
  color: black;
  font-weight: 600;
}
h3 {
  color: white;
  font-size: 14pxrem;
}

.app-list-body {
  padding: 20px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

.msx {
  max-width: 600px;
  min-width: 480px;
  margin: 5px;
}

/* .card-face {
  background-color: rgb(166, 249, 230);
  border-radius: 5px;
} */

.c-title {
  color: #25415f;
  font-weight: 600;
  font-size: 1em;
}

.c-subtitle {
  font-size: 0.85em;
}

/* .card-face :hover {
  transition: 0.3s;
  color: darkgray;
  font-weight: 500;
  cursor: grab;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
} */

.welcome {
  font-size: 1.5em;
  color: white;
}

.dep {
  font-size: 12px;
}

.date {
  font-size: 13px;
  font-weight: 500;
}

.pipes {
  background: #233f5c;
}

.pipeline-title {
  color: white;
}

.dev-header {
  font-size: 8px;
}

.oam {
  background-color: #86c6fd;
  border-radius: 6px;
  border: 1px solid #dce1e0;
  transition: 0.3s;
  border: 1.5px solid white;
}

.oam:hover {
  background-color: #002050a9;
  border-radius: 6px;
  border: 1px solid #1f96ff;
  transition: 0.3s;
}

.welcome {
  font-size: 25px;
}

.card-text {
  /* color: dodgerblue; */
  font-size: 18px;
  text-shadow: 1px 1px 2px #5b5b5b;
}

.card-text.b {
  font-size: 16px;
}

.card-text:hover {
  /* color: #ffffff; */
}