body {
  font-size: 05.em;
}

.card-top {
  background-color: #25415F;
  /* color: darkgray; */
  padding: 1px;
  font-weight: 500;
  font-size: 0.9em;
}

.card-body {
  background-color: white;
  font-weight: 300;
}

.card-title {
  font-size: 0.8em;
}

.stage-row {
  background-color:rgb(237, 235, 235);
  margin: 0.5%;
}

/* bluish: 2df4d6
pink: f48cb4
salmon: f5c1ac
yellow: d7db1f
magenta: de1e5d */

/* .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 10px !important;
} */

.Apps {
  padding: 5px 20px 20px;
  /* background-color: rgb(37, 106, 210); */
}

.cols {
  align-items: flex-start;
}

.Apps>.cols {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.Apps>.cols.col-1 {
  margin-right: 0;
}

.Apps .col-1 .cell.stages {
  margin-top: 15px;
  padding-bottom: 0;
}

.Apps>.cols .col-1 {
  margin-top: 15px;
  margin-right: 15px;
  flex: 1 1 66%;
  min-width: 0;
}

.Apps>.cols .col-2 {
  margin-top: 15px;
  margin-left: 0;
  flex: 1 1 34%;
  min-width: 280px;
  max-width: 400px;
}

.Apps>.cell, .Apps>.cols .cell {
  padding: 10px;
  background-color: #efeff1;
  border-radius: 3px;
}

.Apps .col-2 .cell.activity, .Apps .col-2 .cell.issues, .Apps .col-2 .cell.report {
  margin-top: 15px;
}

.h4, h4 {
  font-size: 18px;
}

.MiniActivityList>h4 {
  margin: 0;
  padding-top: 1px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #dadee2;
}

.MiniActivityList>h4 span {
  font-size: 16px;
  font-weight: 500;
}

.MiniActivityList>h4 a {
  font-size: 13px;
  font-weight: 400;
}

.MiniActivityItem {
  display: flex;
  align-items: center;
}

.MiniActivityList .MiniActivityItem {
  margin-top: 15px;
}

.MiniActivityItem .actor {
  height: 22px;
}


/* .TextButton, .btn-link, a {
  color: #507DA2;
  transition: .3s;
} */

.MiniActivityList>h4 a {
  font-size: 13px;
  font-weight: 400;
}


.UserImage {
  display: inline-block;
  border-radius: 4px;
  overflow: hidden;
  background: linear-gradient(350deg,#cfced4,#e2e2e5);
  line-height: 1;
}

.UserImage.size-xsmall {
  border-radius: 3px;
}

.UserImage.size-xsmall div, .UserImage.size-xsmall img {
  width: 22px;
  height: 22px;
}

.UserImage img {
  display: inline-block;
}
img {
  vertical-align: middle;
}
img {
  border: 0;
}

.MiniActivityItem>.body {
  flex-grow: 1;
  margin: 1px 0 0 5px;
  font-size: 14px;
  color: #5d5966;
  display: flex;
  align-items: baseline;
  min-width: 0;
}

.MiniActivityItem .UserImage {
  vertical-align: 1px;
}

.MiniActivityItem>.body span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

.MiniActivityItem>.body a.commit {
  padding: 1px 5px;
  color: #908c99;
  border: 1px solid rgba(0,0,0,.07);
  border-radius: 3px;
  font-family: "Source Code Pro",monospace;
  font-size: 12px;
}

.MiniActivityItem>.body b {
  font-weight: 500;
  color: #2e2d33;
}


.MiniActivityItem>.body a.build {
  margin-left: 4px;
  font-size: 12px;
}

.MiniActivityItem>.status {
  margin-top: -1px;
  margin-left: 10px;
  white-space: nowrap;
}

.MiniActivityItem>.status span {
  color: #aeacb5;
  font-size: 12px;
}

.MiniPipelineTable>h4 {
  margin: 0;
  padding-top: 1px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #dadee2;
}


.MiniPipelineTable>h4 span {
  font-size: 16px;
  font-weight: 500;
}

.MiniPipelineTable>h4 a {
  font-size: 13px;
  font-weight: 400;
  margin-left: 7px;
}

.MiniPipelineTable .list {
  display: flex;
  padding-bottom: 10px;
}



.MiniPipelineTable.count-2 .list .part {
  flex: 1 1 50%;
}

.MiniPipelineTable.count-2 .list .part>.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3px 9px 1px;
}

.SectionHeader {
  margin-top: 0;
  font-family: "Exo 2", sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  
}

.MiniPipelineTable .list .part>.title .SectionHeader {
  font-size: 13px;
  margin-bottom: 0;
  line-height: 18px;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.MiniPipelineTable .list .part>.title .glyphicon {
  color: rgb(242, 58, 58);
  line-height: 1;
  font-size: 16px;
}

.glyphicon-arrow-right {
  content: "\e092";
}

.MiniPipelineTable .list .part>div.body {
  display: flex;
  flex-direction: column;
}

.MiniPipelineTable .MiniPipelineStageCell {
  width: 100%;
  margin-right: 30px;
  padding: 9px 10px;
  background-color: #fff;
  border-radius: 4px;
  flex: 0 0 auto;
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%), 0 2px 3px rgb(0 0 0 / 3%), 0 3px 4px rgb(0 0 0 / 2%);
}

.MiniPipelineTable .MiniPipelineStageCell {
  margin-right: 30px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-angle-right:before {
  content: "\f105"
}


:before {
  box-sizing: border-box;
}

.MiniPipelineStageCell div.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e2e5;
  padding: 0 0 7px;
  margin-bottom: 9px;
}

.MiniPipelineStageCell div.title>a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  
}
button, select {
  text-transform: none;
}
button {
  overflow: visible;
  
}
button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  
}

[role=button] {
  cursor: pointer;
  
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  
}


/* .btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
} */

/* .btn-group>.btn:first-child {
  margin-left: 0;
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
} */

.MiniPipelineStageCell .PipelineDropdownButton button {
  margin-bottom: 1px;
  padding: 3px 6px;
  font-size: 8px;
  color: #aeacb5;
  border: none;
  background: #efeff1;
  border-radius: 3px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.PipelineDropdownButton .dropdown .dropdown-menu, .PipelineDropdownButton .dropup .dropdown-menu {
  overflow: hidden;
  padding: 0;
  max-width: 190px;
}

/* second box */

.MiniPipelineTable .list .part:last-child {
  margin-right: 0;
}

.MiniPipelineTable.count-2 .list .part {
  flex: 1 1 50%;
}
.MiniPipelineTable .list .part {
  margin-top: 10px;
  margin-right: 10px;
  flex: 1 1 33%;
  max-width: 280px;
  min-width: 220px;
}

.MiniPipelineTable .list .part>.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3px 9px 1px;
}

.MiniPipelineTable .list .part>.title .SectionHeader {
  font-size: 12px;
  margin-bottom: 0;
  line-height: 18px;
  color: #aeacb5;
}

.SectionHeader {
  margin-top: 0;
  font-family: "Exo 2",sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #908c99;
}

.MiniPipelineTable .list .part>div.body {
  display: flex;
  flex-direction: column;
}

.MiniPipelineTable .MiniPipelineStageCell {
  width: 100%;
}

.MiniPipelineStageCell {
  width: 100%;
  margin-right: 30px;
  padding: 9px 10px;
  background-color: #fff;
  border-radius: 4px;
  flex: 0 0 auto;
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%), 0 2px 3px rgb(0 0 0 / 3%), 0 3px 4px rgb(0 0 0 / 2%);
}

.MiniPipelineStageCell div.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e2e5;
  padding: 0 0 7px;
  margin-bottom: 9px;
}

.MiniPipelineStageCell div.title>a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a {
  background-color: transparent;
}

/* .btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
} */

/* .btn-group>.btn:first-child {
  margin-left: 0;
}

.btn-group-vertical>.btn, .btn-group>.btn {
  position: relative;
  float: left;
} */


ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.PipelineDropdownButton .dropdown .dropdown-menu, .PipelineDropdownButton .dropup .dropdown-menu {
  overflow: hidden;
  padding: 0;
  max-width: 190px;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

.PipelineTableStageStatusCell {
  position: relative;
  display: flex;
  align-items: center;
}

.MiniPipelineStageCell .PipelineTableStageStatusCell {
  padding: 0 0 2px 2px;
}

.Apps>.cols .col-2 {
  margin-top: 15px;
  margin-left: 0;
  flex: 1 1 34%;
  min-width: 280px;
  max-width: 400px;
}

.TextButton, .btn-link, a {
  color: #507DA2;
  transition: .3s;
}


.PipelineTableStageStatusCell>a {
  margin-right: 8px;
}

.PipelineTableStageStatusCell>div p {
  margin: 0;
}


.PipelineTableStageStatusCell .line-2 {
  display: flex;
  align-items: center;
}

.PipelineTableStageStatusCell.mini .line-2 {
  margin-top: 2px;
}

.PipelineTableStageStatusCell .branch {
  margin-right: 5px;
  font-size: 12px;
  color: #908c99;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 0 1 auto;
}


.PipelineTableStageStatusCell .commit {
  flex: 0 0 auto;
  font-size: 12px;
  color: #908c99;
  font-family: "Source Code Pro",monospace;
  border: 1px solid rgba(0,0,0,.07);
  border-radius: 3px;
  padding: 2px 4px;
  line-height: 1;
  display: inline-block;
  white-space: nowrap;
}

.small-font {
  font-size: 12px;
  color: #337ab7;
}

.pipeline-title {
  font-size: 16px;
}

.stage-title {
  font-size: 14px;
  color:#69710f;
  padding-left: 4px;
  border-bottom: #2980B9;
  border-width: 2px;
  background-color:lightgray
}

.mid-wide-card {
  /* max-width: 800px; */
  font-weight: 500;
}

.mini-card {
  border-bottom: 2px;
  border-width: 2px;
}

.PipelineTableStageStatusCell .date {
  margin-left: 7px;
  font-size: 12px;
  color: black;
}

.fa-check-circle  {
  font-size: 30px;
}

/* dropbutton */

.dropbtn {
  background-color: #536977;
  color: white;
  padding: 0;
  margin: 0;
  font-size: 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.custom {
  width: 30px !important;
}

.stage-branch {
  font-size: 12px;
}

.btn-sm {
  font-size: 11px;
  color: white;
  background: rgb(13, 13, 13);
  font-weight: 600;

}

.btn {
  font-size: 10px;
}

.btbox {
  /* width: 20px; */
}

