body {
  font-size: 05.em;
}

.card-top {
  background-color: #25415F;
  /* color: darkgray; */
  padding: 1px;
  font-weight: 500;
  font-size: 0.9em;
}

.card-body {
  background-color: white;
  font-weight: 300;
}

.card-title {
  font-size: 0.8em;
}

.stage-row {
  background-color:rgb(237, 235, 235);
  margin: 0.5%;
}

.gear {
  background: rgb(237, 235, 235);
}

.cols {
  align-items: flex-start;
}

.h4, h4 {
  font-size: 18px;
}

img {
  vertical-align: middle;
}
img {
  border: 0;
}



/* second box */
.SectionHeader {
  margin-top: 0;
  font-family: "Exo 2",sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #908c99;
}

a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;

}


ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}


.small-font {
  font-size: 12px;
  color: #67b3f6;
}

.pipeline-title {
  font-size: 16px;
}

.stage-title {
  font-size: 14px;
  color:#69710f;
  padding-left: 4px;
  border-bottom: #2980B9;
  border-width: 2px;
  background-color:lightgray
}

.mid-wide-card {
  font-weight: 500;
}

.mini-card {
  border-bottom: 2px;
  border-width: 2px;
}


.show {display: block;}

.custom {
  width: 30px !important;
}

.stage-branch {
  font-size: 12px;
}

.btn-sm {
  font-size: 11px;
  color: white;
  background: rgb(13, 13, 13);
  font-weight: 600;

}

.btn {
  font-size: 10px;
}
