body {
  font-size: 05.em;
}

.card-top {
  background-color: #25415F;
  padding: 1px;
  font-weight: 500;
  font-size: 0.9em;
}

.card-back {
  background: #ffffffe4;
  border-radius: 5px;
  /* border: 1px solid #232627; */
}

.card-body {
  /* background-color: white; */
  font-weight: 300;
}

.card-title {
  font-size: 0.8em;
}

.stage-row {
  background: rgb(0,100,186);
  background: linear-gradient(180deg, rgba(0,100,186,1) 0%, rgba(0,78,146,1) 100%);
  /* margin: 0.5%; */
  border-radius: 5px;
  border: 1px solid gray;
}

.settings-row {
  background: rgb(12, 89, 157);
  border-radius: 5px;
  border: 1px solid white;
}

.gear {
  color: white;
}

.cols {
  align-items: flex-start;
}

.h4, h4 {
  font-size: 18px;
}

img {
  vertical-align: middle;
}
img {
  border: 0;
}

/* .holder {
  background: rgb(31,150,255);
  background: linear-gradient(180deg, rgba(31,150,255,1) 0%, rgba(3,84,156,1) 73%, rgba(0,78,146,1) 100%);
} */

.holder {
  background: linear-gradient(180deg, #002050,#1F96FF, white);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


.spinner-border {
  color: #1eb99000;
}

.mini-card {
  background: #232627;
}

/* 
black
#232627
background: rgb(31,150,255);
background: linear-gradient(180deg, rgba(31,150,255,1) 0%, rgba(3,84,156,1) 73%, rgba(0,78,146,1) 100%);
name text
#A3C2DC

link text
#C7EF83

dark
#A3C2DC
*/

/* second box */
.SectionHeader {
  /* margin-top: 0; */
  font-family: "Montserrat",sans-serif;
  letter-spacing: 0.5px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color:  rgb(225, 254, 94);;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}


.pipeline-title {
  font-size: 20px;
}

.stage-title {
  font-size: 14px;
  color:#246b58;
  padding-left: 4px;
  border-bottom: #2980B9;
  border-width: 2px;
  background-color:lightgray
}

.mid-wide-card {
  font-weight: 500;
}

.mid-card {
  border-radius: 8px;
}

.mini-card {
  border-bottom: 2px;
  border-width: 2px;
}


.show {display: block;}

.custom {
  width: 30px !important;
}

.stage-branch {
  font-size: 13px;
}


/* margin-top: 0;
font-family: "Poppins",sans-serif;
letter-spacing: 0.5px;
font-size: 15px;
font-weight: 600;
text-transform: uppercase;
color: rgb(242, 255, 192); */

.btn-sm {
  font-size: 13px;
  color: white;
  font-weight: 600;
  border-radius: 50px;
}

.btn {
  transition: 0.3s;
  background-color: dodgerblue;
  border: 1px solid white;
}

.btn:hover {
  background-color: #004E92;
  border: 1px solid dodgerblue;
  transition: 0.3s;
}

.small-font  {
  font-size: 12px;
  color: #A3C2DC;
  font-weight: 500;
}

.small-font:hover {
  color: white;
  font-weight: 600;
}

.stage-info {
  color: white;
  font-size: 12px;
}

.stage-info-branch {
  color: rgb(192, 227, 255);
  font-family: "Poppins",sans-serif;
  font-size: 15px;
  padding-left: 1px;
}

.card-info-key {
  color:  rgb(225, 254, 94);;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
}

.card-info-value {
  color: white;
  font-family: 'Baloo 2';
  font-size: 16px;
  font-weight: 400;
}

.app-id {
  font-weight: 600;
  font-size: 15px;
  color: aliceblue;
}

.links {
  color: #eafff9;
}

.badge-text {
  font-size: 20px;
  background-color: #033f9a;
  border-radius: 30px;
  transition: 0.3s;
}

.badge-text:hover {
  font-size: 20px;
  background-color: white;
  border-radius: 30px;
  color: #1f96ff;
  transition: 0.3s;
}

.screen {
  position: fixed;
  background-color: #002050;
  opacity: 0.5;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  transition: 0.5s;
  }
  
  .modal {
  position: relative;
  display: inline-block;
  /* background-color: rgba(255, 255, 255, 1); */
  /* z-index: 10; */
  /* top: 30%; */
  /* left: 30%; */
  height: auto;
  width: 500px;
  transition: 0.5s;
  }


.main-modal {
  border-radius: 12px;
  font-size: 16px;
}

.formatter-link {
  color: rgb(220, 251, 132);
  font-family: 'Montserrat';
}

.formatter-link:hover {
  color: white;
}