.settings-container {
  max-width: 600px;
}

.settings-row {
  background: rgb(6, 61, 110);
  border-radius: 5px;
  border: 1px solid white;
}

.settings-btn {
  color: white;
}

.settings-btn-delete {
  color: white;
  background-color: rgb(252, 88, 132);
}

.settings-btn-delete:hover {
  color: lightcyan;
  background-color: red;
}

.settings-configure-git {
  color: white;
  background-color: darkseagreen;
}

.settings-configure-git:hover {
  background-color: darkgreen;
}