@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap');


.main {
  background-color: #51e6bc29;
}

h2 {
  font-size: 1.7 em;
}

h5 {
  font-size: 1em;
}

.App-logo {
 min-width: 100px;
 max-width: 300px;
}

