/* @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@200;300;400;500;600&display=swap'); */

body {
  overflow: auto !important;
}

.main {
  background-color: #1f96ff;
}

h2 {
  font-size: 1.7 em;
}

h5 {
  font-size: 1em;
}

.App-logo {
 min-width: 100px;
 max-width: 300px;
}

