@media all and (min-width: 280px) {
  .App-header {
    justify-content: center;
    padding: 30px 0;
    /* max-width: 600px; */
    background: rgb(244, 168, 36);
    background: linear-gradient(
      39deg,
      rgba(244, 168, 36, 1) 0%,
      rgba(246, 216, 67, 1) 24%,
      rgba(146, 203, 88, 1) 48%,
      rgba(74, 181, 249, 1) 80%
    );
  }


  .App-header button {
    margin: 0 auto;
    align-items: center;
  }

  
  h2 h5 {
    color: white;
    justify-content: center;
  }
}
