footer {
  display: block;
  background: #21252A;

}
.Footer {
  padding: 20px 5px;
  
  /* border-top: 1px solid #96da0efe; */
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-sm-6 {
  width: 50%;
}

.Footer a.brand {
  font-family: Rubik,sans-serif;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(119, 118, 118);
}

.Footer .col-right {
  margin-top: 0;
  text-align: right;
}